<% if target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(target.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% target.errors.messages.values.each do |message| %>
        <% message.each do |m| %>
          <li><%= m %></li>
        <% end %>
      <% end %>
      </ul>
    </div>
<% end %>
