body {
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
}
nav {
  background: #f0f0f0;
  padding: 1em 2em;
}
nav ul,
nav li {
  margin: 0;
  text-align: right;
  list-style: none;
  padding: 0;
}
nav li {
  display: inline-block;
  margin-right: -4px;
  margin-left: 2em;
}
nav li:first-child {
  margin-left: 0;
}
nav a {
  text-decoration: none;
  color: #222;
  display: inline-block;
  padding: 0 2px;
  margin: 0 -2px -2px;
  border-bottom: 2px solid rgba(0,0,0,0);
}
nav a:hover {
  border-bottom: 2px solid #c8c8fa;
}
