<p id="notice"><%= notice %></p>
<h2>List of Restaurant Categories</h2>
<table style="width: 100%;" BORDER =2 align=center>
  <thead>
    <tr BGCOLOR=GREY>
      <th>Name</th>
      <th>Description</th>
      <th>           </th> 
    </tr>
  </thead>

    <% @categories.each do |c| %>
      <tr align=center>
        <td><%= c.name %></td>
        <td><%= c.description %></td>
        <td class="indexListButton"><%= link_to 'View Restaurants', c %></td>
      </tr>
    <% end %>
  
</table>
