
<h2>Restaurants by Category</h2>



<table id="indexList" style="width: 100%;" BORDER =2 align=center>
  <thead>
    <tr BGCOLOR=GREY>
      <th>Name</th>
      <th>Address</th>
      <th>Phone number</th>
      <!--<th>Owner name</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
          <% if @category.id == restaurant.category_id %>
          <tr align=center>
            <td><%= restaurant.Name %></td>
            <td><%= restaurant.Address %></td>
            <td><%= restaurant.Phonenumber %></td>
            <td class="indexListButton"><%= link_to 'Show', user_restaurant_path(restaurant) %></td>
           
            
          </tr>
         <% end %>   
    <% end %>
  </tbody>
</table>
